* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: bold;
}

.header {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  /* height: 400px; */
}

/* .header section {
  border: solid;
} */

header .left-header {
  font-size: 20px;
}

header .main-header {
  background-color: rgba(120, 120, 48, 0.811);
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
}

header .nav a {
  padding: 0 10px;
}

header .hero {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .hero h1 {
  font-size: 45px;
  /* font-family: "Big Shoulders Stencil", sans-serif; */
}
